.fundo{
  width: 100vw;
  height:100vh;
  position: fixed;
  top:0px;
  left:0px;
  z-index: -1;
}

.fundo-form{
  width: 30vw;
  height: 100vh;
  position: fixed;
  top:0px;
  left:70vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 0;
  color: #fff;
}

.logo{
  width: 30%;
  margin-left:35%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.alert{
  display:none;
}

@media only screen and (max-width: 768px) {
  .fundo-form{width:100%; left:0px;}
}
